<div class="card language-card m-2">
    <div class="card-body">
        <h5 class="card-title">{{language}}</h5>
        <p class="card-text">Hours: {{hours}}</p>
        <a href="./updateLanguage" class="btn updateLanguagePgBtn">Update language</a>
        <button type="button" class="btn btn-danger" data-id="{{language.id}}">Delete</button>
    </div>
</div>