<div class="card language-card m-2">
    <div class="card-body">
        <h5 class="card-title">{{language}}</h5>
        <p class="card-text">Hours: {{hours}}</p>
        <a href="updateLanguage.html" class="btn updateLanguagePgBtn">Update language</a>
        <a href="#" class="btn deleteLanguageBtn">Delete</a>
    </div>
</div>