<div class="forgot-password-card">
    <form class="forgot-password-form m-2">
        <div class="row mb-3">
            <label for="email-retrieve-password" class="col-sm-2 col-form-label ">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control " id="email-retrieve-password">
            </div>
        </div>
        <button type="submit" id="retrievePasswordBtn" class="btn btn-lg">Send password</button>
    </form>
</div>
<script src="/js/forgotPassword.js"></script>