<section class="container m-2">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-9">
            <h4>Join HackerGrove to grow your programming abilities!</h4>
            <a class="btn btn-lg" href="./signup" role="button" id="signupPgBtn">
                <h5>Create an account</h5>
            </a>
            <p>
                Welcome to HackerGrove! HackerGrove is your one-stop, coding hub to help you keep track of your progress and your ongoing projects. Here at HackerGrove, we believe that organization, consistency, and tracking your work are key to staying motivated when learning to code. To use HackerGrove, simply create an account and create entries for any languages you're learning or projects you're working on. Whenever you work on a language or a project log back in and update your entry!
            </p>
        </div>
    </div>
</section>
