<div class="newLanguage-card m-5">
    <form class="newLanguage-form m-2">
        <div class="row mb-3">
            <label for="language" class="col-sm-2 col-form-label ">Language:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control " id="language">
            </div>
        </div>
        <div class="row mb-3">
            <label for="languageHours" class="col-sm-2 col-form-label ">Hours:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="languageHours">
            </div>
        </div>
        <button type="submit" id="addLanguageBtn" class="btn btn-lg">Add language</button>
    </form>
</div>
<script src="/js/newLanguage.js"></script>