<div class="addProject-card m-5">
    <form class="addProject-form m-2">
        <div class="mb-3 row">
            <label for="projectName" class="col-9 col-sm-2 col-form-label">Project name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projectName">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description" class="col-9 col-sm-2 col-form-label">Description:</label>
            <div class="col-sm-10">
                <textarea type="text" class="form-control" rows="3" id="description"
                    placeholder="Tell us a little about your project!"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="projectHours" class="col-9 col-sm-2 col-form-label">Hours:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projectHours">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="projectLink" class="col-9 col-sm-2 col-form-label">Deployed link:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projectLink">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="githubRepoLink" class="col-9 col-sm-2 col-form-label">Github repository link:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="githubRepoLink">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="projectLanguages" class="col-9 col-sm-2 col-form-label">Languages used:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="projectLanguages">
            </div>
        </div>
        <button class="btn btn-lg m-2" type="submit" id="addProjectBtn">Add project</button>
    </form>
</div>
<script src="/js/newProject"></script>