<h3 id="username" class="m-2">{{user.username}}</h3>
<section id="overview" class="m-5">
    <img id="progressPlant" class="m-3" width="100" height="100" src="./plant.png" alt="plant pic">
    <p id="welcome">Welcome back! Keep tracking your progress to watch your tree and your coding skills grow!</p>
</section>
<section class="container" id="trackers">
    <div class="row">
        <div id="languages" class="col col-12 col-lg-6">
            <h4 class="my-3">Languages:</h4>
            <a class="btn btn-lg" href="./newLanguage" role="button" id="newLanguagePgBtn">Add a language</a>
            {{#if user.languages.length}}
            {{#each user.languages as |language|}}
            {{> language-details}}
            {{/each}}
            {{/if}}
            <div id="projects" class="col col-12 col-lg-6">
                <h4 class="my-3">Projects:</h4>
                <a class="btn btn-lg" href="./newProject" role="button" id="newProjectPgBtn">Add a project</a>
                {{#each user.projects as |project|}}
                {{> project-details}}
                {{/each}}
            </div>
        </div>
</section>
<script src="/js/user.js"></script>
