<section class="container m-2">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-9">
            <h4>Join HackerGrove to grow your programming abilities!</h4>
            <a class="btn btn-lg" href="./signup.html" role="button" id="signupPgBtn">
                <h5>Create an account</h5>
            </a>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores blanditiis temporibus facilis cumque
                corporis illum, in dolorum? Ad, sed nulla adipisci vel repellendus facere hic rerum veritatis quia
                reprehenderit velit?
            </p>
        </div>
    </div>
</section>
<section class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
            <h6>Contact us!</h6>
            <p>
                Bryan, Elise, Pak
            </p>
        </div>
    </div>
</section>