<div class="updateLanguage-card m-5">
    <form class="updateLanguage-form m-2">
        <div class="row mb-3">
            <label for="updateLanguage" class="col-sm-2 col-form-label ">Language:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control " id="updateLanguage">
            </div>
        </div>
        <div class="row mb-3">
            <label for="updateLanguageHours" class="col-sm-2 col-form-label ">Hours:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="updateLanguageHours">
            </div>
        </div>
        <button type="submit" id="updateLanguageBtn" class="btn btn-lg">Update language</button>
    </form>
</div>